@import "../../variables.scss";
@import "../../index.scss";

.park-card {
  background-color: $darken-small;
  padding: 20px;
  width: 30%; height: fit-content;
  margin: 0 17px 20px;
  .preview {
    width: 100%; height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    header {
      background-color: $darken-medium;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      section {
        display: flex;
        align-items: center;
      }
      .location {
        display: flex;
        align-items: center;
        @extend %location;
        color: $light-color;
        margin-top: 0;
        margin-right: 20px;
        font-size: 20px;
      }
      img {
        cursor: pointer;
        width: 20px;
        @extend %click-action;
        margin-right: 10px;
      }
    }
  }
  .title {
    color: $accent-color-primary-light;
    display: flex;
    justify-content: center;
    font-family: "Salsa";
    font-size: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    height: 90px;
    &:hover {
      text-shadow: 0 0 10px $accent-color-secondary;
    }
  }
}
