.main-page {
  display: grid;
  grid-template-areas: 'tabs user' 'main user';
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 9fr;
  &>header {
    grid-area: tabs;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &>aside {
    grid-area: user;
  }
  &>section {
    grid-area: main;
  }
}
