@import "../../variables.scss";
@import "../../index.scss";

.single-park {
  color: $light-color;
  padding: 20px;
  img {
    width: 30px;
    @extend %click-action;
  }
  section:first-child {
    display: grid;
    grid-template-areas: 'img head' 'img place' 'img desc' 'img foot';
    grid-template-rows: 0.75fr 0.5fr 2fr 0.75fr;
    background-color: $darken-small;
    padding: 20px;
    width: 100%;
    &>div {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-area: img;
      width: 40vw; height: 100%;
      margin-right: 20px;
    }
    header {
      grid-area: head;
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-bottom: 10px;
      h2 {
        color: $accent-color-primary-light;
        font-family: Salsa;
        letter-spacing: 0.05em;
      }
    }
    .location {
      grid-area: place;
      @extend %location;
      margin-top: 0;
      font-size: 18px;
    }
    .desc {
      grid-area: desc;
      margin-top: 20px;
      font-size: 14px;
      line-height: 1.5em;
      height: 130px;
      overflow: scroll;
    }
    footer {
      grid-area: foot;
      display: flex;
      align-items: flex-end;
      margin-bottom: 5px;
      p {
        cursor: pointer;
        @extend %click-action;
        display: flex;
        align-items: center;
        color: $accent-color-primary-dark;
        font-family: Salsa;
        margin-right: 40px;
        &:before {
          content: "";
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 20px; height: 20px;
          margin-right: 10px;
        }
      }
      .bell-no-active {
        &:before {
          background-image: url('../../assets/bell.svg');
        }
      }
      .bell-active {
        &:before {
          background-image: url('../../assets/bell-full.svg');
        }
      }
      .flag-no-active {
        &:before {
          background-image: url('../../assets/done.svg');
        }
      }
      .flag-active {
        &:before {
          background-image: url('../../assets/flag-full.svg');
        }
      }
    }
  }
  section:last-child {
    margin-top: 20px;
    display: flex;
    div {
      background-color: $darken-small;
      margin-right: 20px;
      padding: 20px;
      width: 30%;
      h3 {
        color: $accent-color-primary-dark;
        font-family: Salsa;
        text-align: center;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        line-height: 1.5em;
        height: 230px;
        overflow: scroll;
      }
    }
  }
}
