@import "../../variables.scss";
@import "../../index.scss";

.single-park {
  display: grid;
  grid-template-areas: 'desc plan' 'desc direct' 'weather direct' 'weather direct';
  grid-template-columns: 2fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  color: $light-color;
  padding: 20px;
  img {
    width: 30px;
    @extend %click-action;
  }
  section {
    background-color: $darken-smallest;
  }
}
