$bg-russian-pattern: url('./assets/bg-image.jpg');
$bg-color-primary: hsla(0, 0, 24, 1);
$accent-color-primary-dark: hsla(23, 84, 48, 1);
$accent-color-primary-light: hsla(29, 96, 56, 1);
$accent-color-secondary: hsla(9, 64, 34, 1);
$darken-small: hsla(0, 0, 0, 0.5);
$darken-smallest: hsla(0, 0, 0, 0.3);
$darken-medium: hsla(0, 0, 0, 0.7);
$light-color: hsla(0, 0, 95, 1);
